@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
.row_container{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}
.row_container::-webkit-scrollbar{
    display: none;
}
.title{
    margin-left: 30px;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    color: rgb(189, 189, 189);
}
.movie_poster{
    height: 170px;
    width: 120px;
    margin-left: 10px;
    border-radius: 5px;
    object-fit: contain;
    transition: tranform 450ms;
    -webkit-box-shadow: 0 0 5px gray;
        box-shadow: 0 0 5px gray;
    cursor: pointer;    
}
.movie_poster:hover{
   transform: scale(1.15);  
}
.row_posterLarge{
    min-width: 225px;
    max-height: 128px;
}